

<div class="flex justify-center items-center h-screen bg-gray-100">

    <button mat-raised-button class="flex items-center justify-center w-[200px] border border-gray-300 h-12  rounded-md focus:ring-2 transform hover:scale-105 shadow-lg"
    (click)="signInWithGoogle()">
  
      <img src="https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-09-512.png"
  
        alt="Google"
  
        class="google-icon w-6 me-1"
  
      />
  
      <span class="block">Sign in with Google</span>
  
    </button>
  
</div>
  