<div class="flex justify-between px-[200px] py-5">
    <h1 class="flex align-center text-2xl font-semibold cursor-pointer">
        <img src="https://images.fineartamerica.com/images/artworkimages/medium/2/dragonball-logo-vian-mendez-transparent.png" 
        class="w-8"
        alt="logo">
        KameChat
    </h1>
    <button class="bg-[#ef4444] px-4 py-1 text-white rounded-md focus:ring-2 transform hover:scale-105">logout
        <i class="bi bi-box-arrow-right"></i>
    </button>
</div>

<div class="flex px-[200px] mt-[50px]">
    <div class="border-r border-gray-300 w-[280px] h-[calc(100vh-150px)] py-2">
        <div>
            client
        </div>
    </div>

    <div>

    </div>
</div>
